.benefits-body{
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    url("../images/hot-stone.jpg");
  background-size: cover;
  width: 100%;
  height: fit-content;
  margin-top: -15vw;
  margin-bottom: -18vw;
  padding-bottom: 30vh;
  padding-top: 30vh;
  display: flex;
  align-items: center;
  justify-content: right;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.benefits-text-section{
  color:rgb(0, 0, 0);
  width: 70vw;
  margin-right: 5vw;
  background-color: rgba(54, 164, 170, 0.787);
  border-radius: 3vw;
  padding: 2vw;
}

.benefits-text-0{
  font-size: clamp(1px, 3.5vh, 45px);
  margin-bottom: 2vh;
  color: white;
}

.benefits-text-1{
  font-size: clamp(1px, 2.7vh, 35px);
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.69);
}

@media (max-aspect-ratio: 1/1){
  .benefits-text-section{
    width: 90vw;
  }
  .benefits-body{
    padding-top: 24vh;
    padding-bottom: 24vh;
  }
}